// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
  "extends": "airbnb",
  "plugins": [
    "jsx-a11y"  
  ],
  "rules": {
      "jsx-a11y/img-uses-alt": 1,
      "jsx-a11y/redundant-alt": 1,
      "jsx-a11y/valid-aria-role": 1
  }
}